<div class="container">
    <div class="signup-card">
      <h1 mat-h1>SIGNUP</h1>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span *ngIf="email?.errors?.['required']">Email is required.</span>
            <span *ngIf="email?.errors?.['email']">Email is not valid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <span *ngIf="password?.errors?.['required']">Password is required.</span>
            <span *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Signup</button>
      </form>
      <a mat-button href="/login">Already had an Account ? <span>Login</span></a>
    </div>
  </div>
  