<mat-toolbar color="#333">
    <mat-toolbar-row>
      <span class="bold-title">Blogging Website</span>
      <span class="example-spacer"></span>
      <span fxLayout="row" fxLayoutGap="16px">
        <button mat-button (click)="goToHome()">Home</button>
        <button mat-button (click)="goToMyBlogs()">My Blogs</button>
        <button mat-button (click)="goToProfile()">Profile</button>
        <button mat-button (click)="logout()">Logout</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  